.skills {
  background-color: rgba(#3949ab, 0.9);
  border-bottom: 3px solid black;
  border-top: 3px solid #fff;
  padding: 0 2rem;

  &__title {
    font-size: 3rem;
    color: #fff;
    margin: 2rem 0;
  }

  &__description {
    font-size: 2.3rem;
    color: rgba(#fff, .67);
    padding: 0 3rem;
  }

  &__skillset {
    color: #fff;

    &-2 {
      padding-right: 2rem;
      color: #fff;
    }
  }
  
}

.skills__card {
  // padding: 2rem 0;
  position: relative;
  transform-style: preserve-3d;
  min-width: 33rem;
  height: 53rem;
  transition: transform 1s;
  
  &-side {
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    min-width: 33rem;
    min-height: 33rem;

      &--front {
        background-color: rgba(#00227b, .7);
        min-width: 39rem;
        min-height: 33rem;

      }
      &--back {
        transform: rotateY(179.9deg);
        background-color: blue;
        }
  }

  &-image {
    width: 20rem;
    height: 20rem;
  }

  &-links {
    color: #fff;
  }
}

.row-skills {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
}



.bgColor {
  background-color: red;
}
