<div #skills class="skills" fxFlexFill>
  <!-- HEADER SECTION -->
  <div fxLayout="column" class="skills__col" fxLayoutAlign="space-around center" fxLayoutGap="4rem">
    <div>
      <h2 class="skills__title">Web Development Skills:</h2>
    </div>
    <div >
       <p class="skills__description"> Last year I endered the 59 Days of Code competition as an iOS developer new to the Fresno tech scene. After the competition I learned about the power of building web applications once with Javascript and saw how they can scale across all devices. After the competition I decided to learn Web Development. This past year I have taught myself the MEAN stack and now specialize in Angular. I like creating the front end just as much as writing the functionality for the backend! I design most artwork for my projects using Sketch and Illustrator. 
       </p>
    </div>
  </div>
  <!-- CARD SECTION -->
  <div class="skills__card-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
     <div class="skills__card"  *ngFor="let skill of skills" [@fadeIn]="isVisible" (mouseenter)="toggleFlip(skill)" (mouseleave)="toggleFlip(skill)" [@flipState]="skill.flip" fxLayoutAlign="center center">
        <div class="skills__card-side skills__card-side--front" [ngStyle.xl]="{'min-width': '35rem'}" [ngStyle.lg]="{'width': '25rem'}"
             [ngStyle.lt-lg]="{'width': '18rem'}"[ngStyle.lt-md]="{'width': '45rem'}" [ngStyle.lt-sm]="{'width': '25rem'}">

          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" >
            <span class="skills__card-title" fxLayoutAlign="center" fxFlex="100%">{{skill.title}}</span>
          </mat-card-title>
         <div fxLayout.gt-xs="row"  fxLayoutAlign="center center">
          <img mat-card-image class="skills__card-image" [src]="skill.cardImage">
          </div>
          <div fxLayout.gt-xs="row" fxLayoutAlign="center">
            <div flex="50">
              <ul class="skills__skillset">
                <li *ngFor="let skillz of skill.skillsList | slice:0:4">
                    <h2 class="skills__card-links">{{skillz}}</h2>
                </li>
              </ul>
            </div>
            <div flex="50">
              <ul class="skills__skillset">
                <li *ngFor="let skillz of skill.skillsList | slice:4:10">
                    <h2 class="skills__card-links">{{skillz}}</h2>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="skills__card-side skills__card-side--back" >
          <div fxLayout.gt-xs="column" fxLayout.xs="column">
            <div fxLayoutAlign="center center">
              <h2 class="skills__card-projects">Projects</h2>
            </div>
            <div>
              <ul>
                <li *ngFor="let project of skill.projects">
                  <a class="skills__card-links" [routerLink]="['../' + 'skills/' + skillz]">
                    <h2>{{project}}</h2>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



<!-- u -->