
.skills {
  border-bottom: .5rem solid #00227b;
  border-top: 3px solid black;

  &__col {
    margin-bottom: 6rem;
    margin-top: 2rem;
  }

  &__description {
    font-size: 2.3rem;
    color: rgba(#fff, .67);
    padding: 0 5rem;
  }

  &__title {
    color: #fff;
    font-size: 3rem;
  }
  
  &__skillset {
    color: #fff;

    &-2 {
      color: #fff;
    }
  }
}

.skills__card {
  // padding: 2rem 0;
  position: relative;
  transform-style: preserve-3d;
  min-width: 33rem;
  height: 53rem;
  transition: transform 1s;
  
  &-side {
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    min-width: 23rem;
    min-height: 33rem;

      &--front {
        background-color: rgba(#3849aa, .8);
        // min-width: 33rem;
        // min-height: 39rem;
        padding: 1rem 2rem;
        border-radius: 8%;
      }
      &--back {
        transform: rotateY(179.9deg);
        background-color: rgba(#00227b, .8);
        min-width: 33rem;
        min-height: 45rem;
        padding: 1rem 2rem;
        border-radius: 8%;
        }
  }

  &-projects {
    color: #fff;
    font-size: 3.4rem;
    
  }
  &-image {
    margin: 2rem 0;
    width: 22rem;
    height: 20rem;    
  }

  &-links {
    color: #fff;
  }

  &-title {
     font-size: 3rem;
     color: #fff;
  }

  &-row {
    margin-bottom: 5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.bgColor {
  background-color: red;
}
