<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>home</span>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>backup</mat-icon>
        <span mat-line>Backup</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span> Travis Sasselli</span>
      <span fxFlex="grow"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <a>
          <mat-icon mat-list-icon>home</mat-icon>
          <span mat-line>home</span>
        </a>
    
        <a>
          <mat-icon mat-list-icon>backup</mat-icon>
          <span mat-line>Backup</span>
        </a>
      </div>
    </mat-toolbar>
  </div>
</mat-sidenav-container>