.project {
  // background-color: rgba(#3949ab, 0.9);
  border-bottom: 3px solid #00227b;
  padding: 4rem 0;

  &__description {
    font-size: 1.8rem;
    color: rgba(#fff, .67);
    margin-top: 2rem;

    &-row {
      margin-top: 3rem;
    }
  }
  &__title {
    color: #fff;
    font-size: 3rem;
  }

  &__links {
    font-size: 1.8rem;
    color: rgba(#fff, .8); 

    &-git {
      font-size: 5rem;
      color: #fff;
    }
  }
}

.project__card {
  // padding: 2rem 0;
  position: relative;
  transform-style: preserve-3d;
  min-width: 33rem;
  height: 53rem;
  transition: transform 1s;
  margin-top: 3rem;

  &-side {
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    background-color: rgba(#00227b, .6);
    min-width: 33rem;
    border-radius: 6%;
    min-height: 39rem;
    padding: 1rem 2rem;
  }
  &-image {
    width: 20rem;
    height: 20rem;
  }
  &-links {
    color: #fff;
  }
  &-title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
  }
}

.row-project {
 // margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.bgColor {
  background-color: red;
}

