<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <span mat-line>home</span>
            </a>
            <a mat-list-item>
                <mat-icon mat-list-icon>backup</mat-icon>
                <span mat-line>Backup</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div>

        <!-- Primary Navbar/toolbar -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span> Travis Sasselli</span>  
<span fxLayoutGap="20px"></span>

            <div fxLayout="row" fxLayoutFill fxLayoutGap="20px" fxShow="false" fxShow.gt-sm>
               <div fxFlex='0' fxLayoutAlign="center">
                    <a>
                        <mat-icon mat-list-icon>home</mat-icon>
                        <span mat-line>home</span>
                    </a>
               </div>
                <div fxFlex="20">
                    <a>
                        <mat-icon mat-list-icon>backup</mat-icon>
                        <span mat-line>Backup</span>
                    </a>
                </div>
            </div>
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
</mat-sidenav-container>