<div class="intrests" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlexFill fxLayoutAlign="center">
      <h2 class="intrests__header">Intrests:</h2>
  </div>
</div>
<div class="intrests" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
  <div fxFlex="80" class="intrests__description-container">
      <p class="intrests__description">Growing up on a farm taught me to be resourceful and creative from a young age.
                 I've always been interested in how thing's work and how I can make them better. 
                 Throughout the years I have had numerous passions/hobbies that have led for me to live a very diverse life. I grew up tinkering with things and was always facinated by technology from an early age. I remember teaching myself in 8th grade how to build my first computer when all we had was 23kbs internet! Outside of my passion for technology I have numerous years of experience working on farms, hospitals, cell phone towers, and in customer service in the past. 
      </p> 
      <p class="intrests__description">
         On my off time I like to travel, go on hikes/camping, or checkout the local farmers market. 
         This past year I've been passionate about learning Web Development and spend most my time praticing and improving my skillset!
      </p>
  </div>
</div>