.intrests {

    &__header {
        color: #fff;
        font-size: 3.5rem;
    }

    &__description {
        color: #fff;
        font-size: 2rem;
        padding: 0 2rem;

        &-container {
            background-color: rgba(#00227a, .3);
            border-radius: 6%;
        }
    }
}

.bgColor {
    background-color: blue;
}