<div class="intrests" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlexFill fxLayoutAlign="center">
      <h2 class="intrests__header">Intrests:</h2>
  </div>
</div>
<div class="intrests" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
  <div fxFlex="80" class="intrests__description-container">
      <p class="intrests__description">
         On my off time I like to travel, go on hikes/camping, or checkout the local farmers market. 
         This past year I've been passionate about learning Web Development and spend most my time praticing and improving my skillset!
      </p>
  </div>
</div>