.contact {

    &__header {
        color: #fff;
        font-size: 3.4rem;
    }

    &__description {
        color: #fff;
        font-size: 1.8rem;
    }

    &__img {
        font-size: 7rem;
        color: #fff;
    }

    &__col {
        
    }
}

.bgColor {
    background-color: blue;
}