<div fxLayout ="column">
  <div fxFlex="15">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column">
      <div class="contact" fxFlex="100" fxLayoutAlign="center">
        <h2 class="contact__header">Contact:</h2>
      </div>
    </div>
  </div>
  <div fxFlex="80" class="bgColor">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column">
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere culpa eligendi atque? Earum assumenda ratione
          ab quos aliquid iure dicta voluptate dolorem maiores fuga. Molestiae nulla et laborum harum?</p>
      </div>
    </div>
  </div>
</div>