<div class="about" fxFlex="100">
  <div fxLayout="column" class="about__col">
    <div fxFlex="20" fxLayoutAlign="center center">
      <h2 class="about__header">My Story:</h2>
    </div>
    <div>
      <div fxLayout.gt-md="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlexOrder.lt-md="2" fxLayoutAlign="center center">
          <img mat-image class="about__image about" src="../../../../../assets/images/portfolio__pic.jpg" alt="">
        </div>
        <div fxFlex="70" fxFlexOrder.lt-md="1" fxLayoutAlign="center">
          <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos corporis voluptatum repellat rem veritatis! Ipsum, cupiditate
            dolor debitis quia, delectus quibusdam laboriosam neque soluta explicabo exercitationem tenetur placeat, repudiandae adipisci!</p>
        </div>
      </div>
    </div>
  </div>
</div>