.about {
    margin-top: 3rem;

    &__header {
        color: #fff;
        font-size: 3.5rem;
    }

    &__image {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        border: 3px solid #fff 
    }

    &__description {
        color: white;
        font-size: 2rem;
        padding: 0 2rem;
        position: relative;

        &-container {
            background-color: rgba(#00227a, .3);
            border-radius: 6%;
        }
    }
}

.bgColor {
    background-color: red;
}