.header {
    height: 500px;

    &__background {
        background: url(../../assets/images/openRoad.jpeg)center center/cover no-repeat;
        display: flex;
    }
}
.border {
   background-color: black;
   color: black;
   height: 4px;
   margin: 0;

}
