.header {
    height: 100vh;

    &__background {
        background: linear-gradient( to right bottom, rgba(grey, 0.4), rgba(black, 0.5)),
        url(../../assets/images/landing_computer.jpg)center center/cover no-repeat;
        height: 100%;
        width: 100%;
    }

    &__title {
        color: white;
        font-size: 4.5rem;
        font-weight: 800;
        letter-spacing: .2rem;

        &-sub {
            color: rgba( #fff,.67);
            font-size: 3rem;
        }
    }
}
.border {
   background-color: black;
   color: black;
   height: 4px;
   margin: 0;

}

.projects {
    background: linear-gradient( to  bottom, rgba(#3949ab, 0.9), rgba(#757de8, 0.5)),
    url(../../assets/images/projects.jpg) center/cover no-repeat;
}

.skills {
    background: linear-gradient( to bottom, rgba(black, 0.7), rgba(#3949ab, 0.7)),
    url(../../assets/images/skill__background.jpeg)center center/cover no-repeat;
}

.about {
    min-height: 65rem;
    background: linear-gradient( to bottom, rgba(#3949ab, 0.5), rgba(black, 0.7)),
    url(../../assets/images/landing_img.png)center center/cover no-repeat;
}

.contact {
    min-height: 60rem;
    background: linear-gradient( to bottom, rgba(black, 0.7), rgba(#3949ab, 0.7)),
    url(../../assets/images/skill__background.jpeg)center center/cover no-repeat;
}

.bgColor{
    background-color: blue;
}
