<section class="header">
  <div  fxLayout="column"
        fxLayoutAlign="center center"
        class="header__background"
        >
    <div fxLayoutAlign="center center">
       <h1 class="header__title">TRAVIS SASSELLI</h1>
    </div>
    <div >
      <h2 class="header__title-sub">Full Stack Web Developer, iOS, Design</h2>
    </div>
  </div>
</section>

<section class="skills" fxFlexFill>
  <app-skills></app-skills>
</section>

<section class="projects" fxFlexFill>
  <app-web-projects></app-web-projects>
</section>

<section class="about">
  <app-about></app-about>
</section>

<section class="contact">
   <app-contact></app-contact>
</section>